<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468741685715-e4j6fl1q9bb1he07jj956h2uefvtasrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468741685715-e4j6fl1q9bb1he07jj956h2uefvtasrl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468741685715-6vbadus451on9mf1v6tr531lufcj1gn8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnWfdetBEe38EgTQVrRK0O0QJzvpIl1-I</string>
	<key>GCM_SENDER_ID</key>
	<string>468741685715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.devex</string>
	<key>PROJECT_ID</key>
	<string>appe-a14bf</string>
	<key>STORAGE_BUCKET</key>
	<string>appe-a14bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468741685715:ios:e740201cda7cff390faf26</string>
</dict>
</plist>